[Unit]
Description=URL To Video Downloader Bot
After=network.target mongod.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/urltovideo
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
